body {
  min-height: 100vh;
}

.active {
  display: block;
}

#back_btn {
  display: none;
  margin-right: 15px;
}

#back_btn button {
  font-size: xx-large;
}

#is-login {
  display: none;
}

#auth {
  margin-top: 100px;
}

#admin-main {
  margin-top: 40px;
}

div.admin-buttons {
  display: none;
}

div.admin-buttons button {
  margin: 10px;
  min-width: -webkit-fill-available;
}

div.is_auth {
  display: none;
}

div.register-content {
  display: none;
}

div.register-content .book-table-refresh {
  margin-left: 10px;
  font-size: large;
}

#find-book-table {
  margin-bottom: 40px;
}

div.register-content div.book-confirmed {
  width: -webkit-fill-available;
  text-align: center;
}