body {
  min-height: 100vh;
}

.active {
  display: block!important;
}

#back_btn {
  display: none;
  margin-right: 15px;
}

#alogout {
  display: none;
}

#back_btn button {
  font-size: xx-large;
}

#is-login {
  display: none;
}

#auth {
  margin-top: 100px;
}

#admin-main {
  margin-top: 40px;
}

div.admin-buttons {
  display: none;
}

div.admin-buttons button {
  margin: 10px;
  min-width: -webkit-fill-available;
}

div.is_auth {
  display: none;
}

div.register-content {
  display: none;
}

div.register-content .book-table-refresh, .payment-table-refresh, .service-table-refresh, .sbStatusGroup {
  margin-left: 10px;
  font-size: large;
}

.service-table-confirmSolve {
  display: none;
}

#find-book-table, #find-payment-table {
  margin-bottom: 40px;
}

div.register-content div.book-confirmed {
  width: -webkit-fill-available;
  text-align: center;
}

div.logs-content {
  display: none;
}

div.service-content {
  display: none;
}

div.payment-content {
  display: none;
}

div.statistic-content {
  display: none;
}

thead th {
  cursor: pointer;
}

.dropdown-menu {
  top: unset;
}

.service-data {
  display: none;
}

.statistic-content .graphtype .btn {
  margin-top: 20px;
}

.statistic-content .jumbotron {
  display: none;
  z-index: 999;
  position: absolute;
  width: 100%;
  top: -50px;
  height: 700px;
}

.statistic-content .graph {
  margin-top: 20px;
}

.statistic-content .graph #chart {
  margin: auto;
}