.profile {
  margin-top: 30px;
  margin-bottom: 30px;
}

.profile .list-group .label {
  background-color: #1a1a1a !important;
  color: #fff;
}

.item-data {
  display: none;
}

.item-data.active {
  display: block!important;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.item-data li {
  list-style-type: none;
  padding: 0.75rem 1.25rem;
}

.item-data .btn {
  margin-left: 40px;
  margin-bottom: 30px;
}

.edit-data {
  display: none;
}

.service-btn {
  margin-top: 30px;
}

.service-content {
  display: none;
}

.service-content>div {
  display: none;
}

.inc-cnt, .sub-cnt, .cnt {
  margin-left: unset!important;
  margin-bottom: unset!important;
  font-size: 12px;
  padding: 0.5em;
}